


/*****************************************************
Dustbin
*****************************************************/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

.item {
    display: inline-block;
    padding: 0;
    border: 1px solid black;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

#app .item.preview {
    display: inline-block;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
